climweb/media/
climweb/static/
climweb/error.log
climweb/cache/
climweb/.cache/
climweb/db-data/
climweb/npm_ssl/
climweb/backup/
climweb/geomanager-data/
climweb/plugins/

mapviewer/.next/
mapviewer/.cache/

hooks.yaml
logs/*.log
.DS_Store


.env
docker-compose.yml
nginx/nginx.conf
nginx/ssl/ssl.conf
