cms/media/
cms/static/
cms/error.log
cms/cache/
cms/.cache/
cms/db-data/
cms/backup/
cms/geomanager-data/


mautic/mautic_data/
mautic/mysql_data/

mapviewer/.next/
mapviewer/.cache/

hooks.yaml
.DS_Store


.env
docker-compose.yml
nginx/nginx.conf
nginx/ssl/ssl.conf
